// 1) Override'lar önce
@import './abstracts/variables';

// 2) Bootstrap (node_modules'tan)
@import "~bootstrap/scss/bootstrap";

// 3) Kendi katmanların (tamamı @import)
@import './base/reset';
@import './base/typography';
@import './layout/navigation';
@import './layout/footer';
@import './components/buttons';
@import './components/cards';

// küçük bir global kural
body { padding-block: 2rem; }

